/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
}

.produto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.opcoes-papel {
    text-align: center;
}

.opcoes-papel button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

.logo-kamp {
    max-width: 350px;
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

@media (max-width: 600px) {
    .logo-kamp {
        max-width: 180px;
        width: 90%;
    }
}